<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>goat</servlet-name>
		<servlet-class>com.inno.innowebservices.InnoWebservicesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>request</servlet-name>
		<servlet-class>com.inno.innowebservices.RequestServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>test</servlet-name>
	    <servlet-class>com.inno.innowebservices.ListingServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>name</servlet-name>
	    <servlet-class>com.inno.innowebservices.UserQuery</servlet-class>
	</servlet>
	<servlet> 
	    <servlet-name>GPS</servlet-name>
	    <servlet-class>com.inno.innowebservices.LocationServ</servlet-class>
	    </servlet>
	<servlet>
	    <servlet-name>Comment</servlet-name>
	    <servlet-class>com.inno.innowebservices.CommentSer</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>Count</servlet-name>
	     <servlet-class>com.inno.innowebservices.count</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>goat</servlet-name>
		<url-pattern>/innowebservices</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>request</servlet-name>
		<url-pattern>/request</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>test</servlet-name>
	    <url-pattern>/ls</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>name</servlet-name>
	    <url-pattern>/name</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>Comment</servlet-name>
	    <url-pattern>/com</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>Count</servlet-name>
	    <url-pattern>/count</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>GPS</servlet-name>
	    <url-pattern>/location</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
